html, body {
  background-color: #889F57;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  color: #333;
}
main {
  width: 400px;
  margin: -50px auto 0;
}
#aligner {
  height: 100%;
  display: flex;
  align-items: center;
}

h1, h1 span {
  color: #333;
  text-shadow: 1px 1px 1px #DEC05D;
}
h1 span {
  font-size: 0.5em;
  display: block;
  font-style: italic;
  text-align: center;
}
h1 {
  font-size: 41px;
  border-radius: 3px;
  margin: 0 0 16px;
  opacity: 0.7;
}
p {
  margin: 8px 0 0;
}
footer {
  margin: 14px 0 0;
  font-size: 12px;
  text-align: center;
  color: white;
  opacity: 0.7;
}
footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
footer a:hover {
 text-decoration:underline;
}
footer a.github::before{
 content: '';
 background: url(../vendor/github.png) no-repeat;
 background-size: 10px;
 display: inline-block;
 width: 12px;
 height: 10px;
 margin-left: 2px;
}
